body{
	margin-left: 1em;
	margin-top:1em;
}
hr {
	border-top:1px solid black;
    border-width: 2px;
}
#l1,#w1,#r1,#b1,#a1{
	margin-left:5px;
}
#Err{
	color: red;
	font-size: 14pt;
	display: block;
	margin-left:35%;
}
